@import '../../normalize.css';
@import '~antd/dist/antd.css';

body {
  background-color: #e5e5e5;
}

.movie-app {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  background-color: white;
  padding: 36px;
  align-items: center;
  min-height: 100vh;
}

.movie-app__menu {
  margin-bottom: 16px;
}
